<div class='main-navbar-container clear-fix'>
  <nav class="main-navbar">
      <ol class='main-navbar-contents-container'>
        <li {% if page.url == '/info.html' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/info'>Information</a>
        </li>
        <li {% if page.url == '/migration/' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/migration/'>Migration process</a>
        </li>
        <li {% if page.url == '/tools.html' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/tools'>Tools</a>
        </li>
        <li {% if page.url == '/key-learnings.html' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/key-learnings'>Learnings</a>
        </li>
        <li {% if page.url == '/guidance.html' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/guidance'>Guidance</a>
        </li>
        <li {% if page.url == '/news.html' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/news'>News</a>
        </li>
        <li {% if page.url == '/customer.html' %}class='nav-selected'{% endif %}>
          <a href='/local-land-charges/customer'>Customer</a>
        </li>
      </ol>
  </nav>
</div>
