  .cookies-banner .button {
    margin-bottom: 22px;
}
  
.cookies-banner {
    margin: auto;
    max-width: 960px;
    padding: 15px 15px 0 15px;
    display: none;
}
  
@media (min-width: 641px){
    .cookies-banner {
        padding: 30px 30px 0 30px
    }
  
    .cookies-banner .button {
        margin-bottom: 32px;
    }
}

.cookies-banner-background {
    background-color: #f3f2f1;
}
  
.cookies-banner .button {
    margin-bottom: 22px;
}

#cookies-banner > div > div.column-full.font-small > a {
    line-height: 2.25;
    margin-left: 0.5em;
}

img {
    width: 100%;
}

.hmlr-logo {
    filter: saturate(300%) grayscale(100%) brightness(64%) contrast(350%);
    -webkit-filter: saturate(300%) grayscale(100%) brightness(64%) contrast(350%);
    background-image: url(/local-land-charges/assets/hmlr-logo-grey.svg);
    display: inline-block;
    background-size: 172px 55px;
    min-width: 172px;
    padding-top: 65px;
    text-align: center;
    background-repeat: no-repeat;
    white-space: nowrap;
}

.hmlr-logo.heading-logo {
    background-image: url(/local-land-charges/assets/hmlr-logo-white.svg);
    filter: unset;
    -webkit-filter: unset;
}

.main-navbar {
    margin: 0 auto;
    height: 100%;
    max-width: 990px;
}

.main-navbar-contents-container {
    list-style-type: none;
    border-top: 10px solid #789904;
    border-bottom-color: #789904;
}

.main-navbar-contents-container li {
    float: left;
    padding: 10px 15px;
}

.main-navbar-contents-container li:first-child {
    padding-left: 0;
}

.main-navbar-contents-container li a {
    font-size: 1.85rem;
    color: #000000;
    text-decoration: none;
}

.main-navbar-contents-container li a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.main-navbar-contents-container li a:focus {
    background-color: #fd0;
    font-size: 1.85rem;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    text-decoration: underline;
    box-shadow: 0 -2px #fd0;
}

.clear-fix {
    content: "";
    display: block;
    clear: both;
}

.main-navbar-container {
    height: 3em;
    background-color: #F8F8F8;
    border-bottom: 1px solid #B1B4B6;
    border-bottom-color: #B1B4B6;
}

@media (max-width: 766px){
    .main-navbar-container {
        height: 6em;
    }
}

@media (max-width: 397px){
    .main-navbar-container {
        height: 9em;
    }
}

.home-link {
    font-size: 28px !important;
    margin-left: 2em;
    float: left;
    margin-top: 0.5em;
}

.heading-logo {
    float: left;
}

a:focus {
    box-shadow: 0 -2px #fd0;
    background-color: #fd0;
    outline: white;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.main-navbar-contents-container li.nav-selected {
    border-bottom: 5px solid #000000;
    padding-bottom: 5px;
}

.tiled-link hr{
    margin-bottom: 0.5em;
}

.tiled-link .heading-small{
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-right: 1em;
    text-decoration: underline;
}

.tiled-link {
    padding-right: 1.6em;
    position: relative;
}

.tile-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tiled-link .heading-small:before {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    height: 7px;
    position: absolute;
    top: 2.5em;
    right: 1.75em;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 7px;
}

@media (max-width: 550px) {
    .tile-table {
        grid-template-columns: 1fr;
    }

    .tiled-link {
        width: 75%;
    }

    .tiled-link .heading-small {
        width: 100%;
    }
}

.tiled-link a:focus {
    box-shadow: unset;
    background-color: unset;
    outline: unset;
    box-shadow: unset;
}

.tiled-link a:focus .heading-small {
    box-shadow: 0 -2px #fd0;
    background-color: #fd0;
    outline: none;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.tiled-link a:hover .heading-small:before {
    border-right: 3px solid #2b8cc4;;
    border-top: 3px solid #2b8cc4;;
}

.tiled-link span {
    display: inline-block;
}

.tiled-link a:hover span {
    color: #0b0c0c;
}

.tiled-link a:visted span {
    color: #0b0c0c;
}

.tiled-link a span {
    color: #0b0c0c;
}

.tiled-link .heading-small {
    float: left;
}

.tiled-link a:hover icon {
    filter: invert(42%) sepia(67%) saturate(641%) hue-rotate(159deg) brightness(98%) contrast(80%);
    -webkit-filter: invert(42%) sepia(67%) saturate(641%) hue-rotate(159deg) brightness(98%) contrast(80%);
}

.tiled-link a:visited icon {
    filter: invert(17%) sepia(67%) saturate(2499%) hue-rotate(247deg) brightness(89%) contrast(94%);
    -webkit-filter: invert(17%) sepia(67%) saturate(2499%) hue-rotate(247deg) brightness(89%) contrast(94%);
}

.govuk-back-link {
    color: #0b0c0c;
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1em;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0.875em;
}

.govuk-back-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.1875em;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
}

.govuk-back-link:hover {
    color: rgba(11,12,12,.99);
}

.govuk-back-link:hover {
    color: rgba(11,12,12,.99);
}
.govuk-back-link:link, .govuk-back-link:visited {
    color: #0b0c0c;
}
.govuk-back-link:hover {
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
}

.not-bold{
    font-weight: 300;
}

.bold-big-numbers {
    list-style-type: none;
    counter-reset: ol-counter;
}

.bold-big-numbers .numbered-item:before {
    font-size: 24px;
    font-weight: 700;
    content: counter(ol-counter)'. ';
    counter-increment: ol-counter;
    float: left;
    line-height: 1.25;
    padding-right: 0.2em;
}

@media (max-width: 640px) {
    .bold-big-numbers .numbered-item:before {
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        text-transform: none;
        font-size: 18px;
        line-height: 1.2;
    }
}

.list-indented {
    padding-left: 2em;
}

.or-padding {
    padding-left: 3em;
}

.two-joining-lists {
    margin-bottom: unset;
}

.navbar-breadcrumbs-wrapper-grey {
    background-color: #263135;
    color: #ffffff;
}

.navbar-breadcrumbs {
    margin: 0 auto;
    max-width: 965px;
    position: relative;
    padding-top: 1.2em;
    padding-left: 15px;
    border-top: 10px solid #789904;
    border-bottom-color: #789904;
}

.navbar-breadcrumbs-wrapper-grey .navbar-breadcrumbs a {
    color: #ffffff;
}

.navbar-breadcrumbs-wrapper-grey .navbar-breadcrumbs a:visited {
    color: #ffffff;
}

.navbar-breadcrumbs-wrapper-grey .navbar-breadcrumbs a {
    color: #000000;
}

.navbar-breadcrumbs a:visited {
    color: #000000;
}

.navbar-breadcrumbs a:hover {
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

.breadcrumb-bar-wrapper h1.heading-xlarge {
    color: #ffffff;
    margin-top: unset;
    padding-top: 0.5em;
    margin-bottom: 0.25em;
}

.breadcrumb-bar-wrapper {
    background-color: #263135;
}

.breadcrumb-bar {
    color: #ffffff;
    margin: 0 auto;
    max-width: 970px;
    padding-bottom: 1em;
    padding-left: 15px;
}

.no-margin#content {
    margin: 0;
    max-width: unset;
}

.width-container {
    max-width: 990px;
    margin: 0 auto;
}

.width-container .column-two-thirds {
    float: unset;
}

.navbar-breadcrumbs li:not(:first-child) a:before{
    content: "";
    display: block;
    position: absolute;
    top: 0.45em;
    left: -1.2em;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
}

.navbar-breadcrumbs-wrapper-grey .navbar-breadcrumbs li:not(:first-child) a:before {
    border-color: #ffffff;
}

.navbar-breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 1.3em;
}

.show-hide-icon {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    border: 0.0625rem solid;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

.show-hide-icon.show {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.show-hide-icon.hide {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}

.show-hide-icon:after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0.3125rem;
    left: 0.49rem;
    width: 0.65rem;
    height: 0.65rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top: 0.125rem solid;
    border-right: 0.125rem solid;
}

.accordion-item span {
    position: relative;
    font-size: 19px;
}

.button-wrapper button {
    width: 100%;
    padding: 10px 0 0 0;
    border: 0;
    border-bottom: 10px solid transparent;
    color: #0b0c0c;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
}

.accordion-item button {
    border-top: 1px solid #b1b4b6;
}

.accordion-container.js-enabled {
    border-bottom: 1px solid #b1b4b6;
}

.button-wrapper span {
    color: #1d70b8;
}

.button-wrapper button:hover span{
    color: #0b0c0c;
}

.button-wrapper button:hover .show-hide-icon {
    background-color: #000000;
}

.button-wrapper button:hover .show-hide-icon:after {
    color: #ffffff;
}

.show-all-button {
    position: relative;
    z-index: 1;
    margin-bottom: 9px;
    padding: 5px 2px 5px 0;
    border-width: 0;
    color: #1d70b8;
    background: none;
    cursor: pointer;
}

.button-wrapper button:hover {
    color: #0b0c0c;
    background: #f3f2f1;
}

.show-all-button:hover {
    color: #0b0c0c;
    background: #f3f2f1;
}

.show-all-content {
    font-size: 19px;
}

.button-wrapper button:hover .show-hide-icon {
    background-color: #000000;
}

.show-all-button:hover .show-hide-icon {
    background-color: #000000;
}

.show-all-button button:hover {
    color: #0b0c0c;
    background: #f3f2f1;
}

.show-all-button:hover span{
    color: #0b0c0c;
}

.show-all-button:hover .show-hide-icon {
    background-color: #000000;
}

.show-all-button:hover .show-hide-icon:after {
    color: #ffffff;
}

.button-wrapper button:focus .show-hide-icon {
    background-color: #000000;
}

.button-wrapper button:focus {
    color: #0b0c0c;
}

.button-wrapper button:focus .show-hide-icon:after{
    color: #fd0;
}

.show-all-button:hover .show-hide-icon {
    background-color: #000000;
}

.show-all-button:focus .show-hide-icon {
    background-color: #000000;
}

.show-all-button:focus {
    color: #0b0c0c;
}

.show-all-button:focus .show-hide-icon:after{
    color: #fd0;
}

.button-wrapper button:focus {
    outline: unset;
}

.button-wrapper button:focus .accordion-content-wrapper {
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    padding-top: 0.2em;
}

.show-all-button:focus {
    outline: unset;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    color: #0b0c0c;
}

.button-wrapper button:focus h3.heading-medium, .button-wrapper button:focus h2.heading-medium{
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
}

.button-wrapper button h3.heading-medium,  .button-wrapper button h2.heading-medium{
    width: fit-content;
}

.button-wrapper button:focus span{
    color: #0b0c0c;
}

.accordion-content {
    padding-top: 1em;
    padding-bottom: 2em;
}

.pagination-link {
    position: relative;
    text-decoration: none;
}

.pagination-link svg {
    position: absolute;
    top: 1.3em;
}

.pagination-wrapper {
    padding-left: 2em;
    display: grid;
}

.pagination-title {
    font-weight: 800;
    padding-bottom: 0.5em;
    width: fit-content;
}

.pagination-label {
    text-decoration: underline;
    width: fit-content;
}

.pagination:hover {
    background: #f3f2f1;
}

.pagination.next .pagination-wrapper {
    padding-left: unset;
}

.pagination.next .pagination-link svg{
    left: 13em;
}

.list-line li:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

.list-line li {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.grey{
    color: #6f777b;
}

.no-top-margin {
    margin-top: unset;
}

.pagination-link:focus .pagination-title {
    background-color: #fd0;
}

.pagination-link:focus .pagination-label {
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.pagination.next .pagination-link svg {
    left: 15em;
}

.step-by-step > li {
    position: relative;
    padding-left: 3.75em;
    padding-bottom: 1em;
}

.step-by-step .button-wrapper {
    border-top: 1px solid #B1B4B6;
}

.step-by-step h2.heading-medium {
    margin-top: unset;
    padding-top: 0.5em;
}

.step-by-step .button-wrapper .number {
    color: #000000;
    position: absolute;
    top: 0em;
    left: 0em;
    border: solid 1px #b1b4b6;
    border-radius: 100px;
    text-align: center;
    width: 1.8421052632em;
    height: 1.8421052632em;
    font-weight: 800;
    line-height: 2em;
    z-index: 8;
    background: #ffffff;
    font-size: 19px;
}

.step-by-step > li:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 100%;
    border-left: solid 1px #b1b4b6;
    background: #ffffff;
    left: 0;
    margin-left: 0.92em;
    top: 0;
}

.step-by-step > li:last-child:before {
    content: "";
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 0;
    margin-left: 0.5em;
    width: 15px;
    height: 0;
    border-bottom: solid 1px #b1b4b6;
    width: 17.5px;
}

.step-by-step .show-hide-content {
    font-size: 19px;
}

.step-by-step .show-hide-icon {
    font-size: 19px;
}

.inset-text {
    border-left: 10px solid #b1b4b6;
    padding: 15px;
}

.step-by-step {
    margin-bottom: 1em;
}

.list-links li:not(:first-child) {
    margin-top: 0.4em;
}

span.heading-large.grey {
    display: block
}

.back-top svg {
    float: left;
    margin-right: 0.3em;
}

.back-top {
    margin-top: 1.5em;
}

.footer-meta-inner {
    flex: 1;
}

.footer-meta {
    display: flex;
}