.header-custom{
    width: max-content;
}
  
.cookies-banner .button {
    margin-bottom: 22px;
}
  
.cookies-banner {
    margin: auto;
    max-width: 960px;
    padding: 15px 15px 0 15px;
    display: none;
}
  
@media (min-width: 641px){
    .cookies-banner {
        padding: 30px 30px 0 30px
    }
  
    .cookies-banner .button {
        margin-bottom: 32px;
    }
}

.cookies-banner-background {
    background-color: #f3f2f1;
}
  
.cookies-banner .button {
    margin-bottom: 22px;
}

#cookies-banner > div > div.column-full.font-small > a {
    line-height: 2.25;
    margin-left: 0.5em;
}

img {
    width: 100%;
}
