<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    
    <title>{{ page.title }}</title>
    
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" media="screen" href="/local-land-charges/assets/main.css"/>
    <link rel="stylesheet" media="screen" href="/local-land-charges/assets/custom.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93698222-5"></script>
    <script src="static/js/ga.js"></script>
    <script src="static/js/cookies-options.js"></script>
  </head>

  <body>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>
    {% include cookies.html %}
    <header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-proposition">
      <div class="content header-custom">
          <a href="/local-land-charges/" id="proposition-name">Local Land Charges Programme</a>
          <nav id="proposition-menu">
            <ol id="proposition-links">
              <li><a href='info'>Information</a></li>
              <li><a href='migration'>Migration Hub</a></li>
              <li><a href='tools'>Tools</a></li>
              <li><a href='key-learnings'>Learnings</a></li>
              <li><a href='guidance'>Guidance</a></li>
              <li><a href='communications'>Communications</a></li>
              <li><a href='customer'>Customer</a></li>
            </ol>
          </nav>
        </div>
    </div>

  </div>
  </header>
  <div id="global-header-bar"></div>
  <main id="content">
    <div class=column-two-thirds>
      <h1 class="heading-xlarge">{{ page.title }}</h1>
      {{ content }}
    </div>
  </main>

  <footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
      <div class="footer-meta">
        <div class="footer-meta-inner">
          <ul>
            <li><a href="cookies">Cookies</a></li>
            <li><a href="accessibility-statement">Accessibility statement</a></li>
          </ul>
          <div class="open-government-licence">
            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
          </div>
        </div>
        <div class="copyright">
          <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>