<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    
    <title>{{ page.title }}</title>
    
    <link rel="shortcut icon" href="/local-land-charges/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" media="screen" href="/local-land-charges/assets/main.css"/>
    <link rel="stylesheet" media="screen" href="/local-land-charges/assets/custom.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93698222-5"></script>
    <script src="/local-land-charges/static/js/ga.js"></script>
    <script src="/local-land-charges/static/js/cookies-options.js"></script>
  </head>

  <body>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>
    {% include cookies.html %}
    <header role="banner" id="global-header" class="with-proposition custom-header">
  <div class="header-wrapper">
    <div class="header-proposition">
      <span class='hmlr-logo heading-logo' aria-label='HM Land Registry logo'></span>
      {% if page.show_home_link %}
        <a href="/local-land-charges/" id="proposition-name" class="home-link">Local Land Charges Migration Hub</a>
      {% endif %}
    </div>
  </div>
  </header>
  {% if page.main_nav_bar %}
    {% include main-nav-bar.html %}
  {% endif %}

  {% if page.breadcrumbs %}
    {{ content }}
  {% else %}
    <main id="content">
      <div class=column-two-thirds>
        {% if page.back_link_location %}
        <div>
          <a href='{{ page.back_link_location }}' class="govuk-back-link">Back</a>
        </div>
        {% endif %}
        <h1 class="heading-xlarge">{{ page.title }}</h1>
        {{ content }}
      </div>
    </main>
  {% endif %}

  <footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
      <div class="footer-meta">
        <div class="footer-meta-inner">
          <ul>
            <li><a href="/local-land-charges/cookies">Cookies</a></li>
            <li><a href="/local-land-charges/accessibility-statement">Accessibility statement</a></li>
          </ul>
        </div>
        <div class='log-wrapper'><span class='hmlr-logo' aria-label="HM Land Registry logo"></span></div>
      </div>
    </div>
  </footer>
  </body>
</html>
